* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header ul {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  background-color: #ff9a8c;
  opacity: 0.8;
  z-index: 10;
  height: 70px;
}
.header ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header ul li img {
  height: 60px;
  width: 60px;
}
.header ul li a {
  color: white;
  font-family: Arial;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Arial;
  opacity: 1;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.header ul li a:hover {
  text-decoration: underline;
  background-color: #ea2c62;
}

@media (max-width: 800px) {
  .header ul {
    grid-template-columns: 1fr 1fr;
  }

  .header ul li:first-of-type {
    display: none;
  }

  .header ul li a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Arial;
  }
}
@media (max-width: 680px) {
  .header ul {
    grid-template-columns: 1fr;
  }

  .header ul li {
    display: none;
  }

  .header ul li:first-child {
    text-align: center;
    display: block;
  }
}
.titulo {
  text-align: center;
  background-color: #ea2c62;
  padding: 10px;
  color: white;
}
.titulo h1 {
  font-family: "Trebuchet MS";
  font-size: 40px;
  text-align: center;
}

.portada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portada .imgpor {
  height: 100vh;
  width: 100%;
}

.nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-color: #ff9a8c;
  text-align: center;
}
.nosotros .box {
  padding: 10px;
  margin: 10px;
  background-color: #ea2c62;
  border-radius: 20px;
}
.nosotros .box img {
  height: 135px;
  width: 135px;
  margin: 10px;
}
.nosotros .box .t2 {
  padding: 10px;
  font-family: Arial;
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.nosotros .box .p2 {
  padding: 10px;
  font-family: serif;
  text-align: center;
  color: white;
  font-size: 25px;
}

.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em;
  grid-gap: 3em;
  background-color: #ff9a8c;
}
.productos .producto {
  padding: 10px;
  margin: 0 auto;
  background-color: #ea2c62;
  border-radius: 5px;
}
.productos .producto .producto-img {
  height: 250px;
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.productos .producto .producto-info {
  margin: 0 auto;
  padding: 10px;
}
.productos .producto .producto-info h3 {
  font-family: "Trebuchet MS";
  text-align: center;
  color: #ff9a8c;
}
.productos .producto .producto-info p {
  margin-top: 10px;
  text-align: center;
  font-family: serif;
  color: #eeeeee;
}
.productos .producto:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
.productos button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-area: boton;
  border-radius: 5px;
  height: 50px;
  font-family: Arial;
  margin-top: 30px;
  background-color: #eeeeee;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.productos button:hover {
  background-color: #ea2c62;
  color: white;
}

.box-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-area .box-ind {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 450px;
  border-radius: 4px;
  background-color: #ed6663;
  text-align: center;
  margin: 20px;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.box-area .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  border: 6px solid #222831;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  background-size: cover;
  background-position: center center;
}
.box-area .titulo {
  font-size: 24px;
  font-weight: 500px;
  line-height: 48px;
}
.box-area .img-text {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.box-area .img-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.box-area .box-ind:hover {
  background-color: #ffbb91;
  color: black;
}
.box-area .comentario {
  padding: 2em;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.formulario {
  padding: 50px;
  background-color: #ff9a8c;
  border-bottom: 1px solid black;
}
.formulario form {
  background-color: #ff9a8c;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nombre     nombre" "correo     tel" "comentario comentario" "boton      boton";
  grid-gap: 1rem;
}
.formulario form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.formulario form .name {
  grid-area: nombre;
}
.formulario form .email {
  grid-area: correo;
}
.formulario form .phone {
  grid-area: tel;
}
.formulario form .message {
  grid-area: comentario;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.formulario form button {
  grid-area: boton;
  border-radius: 5px;
  height: 50px;
  font-family: Arial;
  margin-top: 30px;
  background-color: #eeeeee;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.formulario form button:hover {
  background-color: #ea2c62;
  color: white;
}
.formulario form label {
  font-family: serif;
  padding: 2px;
  font-size: 20px;
}
.formulario form textarea {
  height: 100px;
}
.formulario form input {
  height: 30px;
}
.formulario form input, .formulario form textarea {
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 1024px) {
  .productos .producto {
    width: 100%;
  }
  .productos .producto .producto-img {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .titulo {
    font-size: 30px;
  }

  .portada .imgpor {
    height: 70vh;
    width: 100%;
  }

  .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nosotros .box img {
    display: none;
  }
  .nosotros .box .t2 {
    font-size: 40px;
  }
  .nosotros .box .p2 {
    font-size: 20px;
  }

  .productos {
    grid-template-columns: 1fr 1fr;
  }
  .productos .producto {
    width: 100%;
  }
  .productos .producto .producto-img {
    width: 100%;
  }

  .formulario form {
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    grid-area: "nombre     nombre" "correo     tel" "comentario comentario" "boton      boton";
  }
}
@media (max-width: 680px) {
  .titulo {
    font-size: 20px;
  }

  .portada .imgpor {
    height: 50vh;
    width: 100%;
  }

  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
  }
  .nosotros .box img {
    display: none;
  }
  .nosotros .box .t2 {
    font-size: 30px;
  }
  .nosotros .box .p2 {
    font-size: 15px;
  }

  .productos {
    grid-template-columns: 1fr;
  }
  .productos .producto {
    width: 100%;
  }

  .formulario {
    padding: 10px;
  }
  .formulario form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "nombre" "correo" "tel" "comentario" "boton";
    grid-gap: 1rem;
    padding: 15px;
  }
}
footer {
  background-color: #ea2c62;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
footer .contact {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}
footer .contact .box {
  background-color: #ff9a8c;
  width: 100%;
  border-radius: 5px;
}
footer .contact .box .t4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ea2c62;
  margin: 10px;
}
footer .contact .box .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contact .box .contact-info span {
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 20px;
  font-family: serif;
}
footer .contact .box .contact-info span i {
  color: #ea2c62;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */